<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Outpass</title>
    {% load static %}
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/quill/quill.snow.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/quill/quill.bubble.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/remixicon/remixicon.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendor/simple-datatables/style.css'%}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <style>
        body{
            margin-left:70px;
            margin-top:50px;
        }
    </style>
</head>

<body>
    <h2>Find Outpass</h2>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post" action="{% url 'find_outpass' %}">
        {% csrf_token %}
        <label for="gatepassno">Gatepass No:</label>
        <input type="text" id="gatepassno" name="gatepassno" required>
        <button type="submit">Find Outpass</button>
    </form>

    {% if outpass %}
    <h3>Gatepass Details:</h3>
    <p><strong>Gatepass No:</strong> {{ outpass.gatepassno }}</p>
    <p><strong>Driver Name:</strong> {{ outpass.driver_name }}</p>
    <p><strong>Vehicle Number:</strong> {{ outpass.vehicle_number }}</p>
    <p><strong>Contact Number:</strong> {{ outpass.owner_contact_no }}</p>
    <p><strong>Created At:</strong> {{ outpass.created_at }}</p>
    {% endif %}
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/chart.js/chart.umd.js'%}"></script>
    <script src="{% static 'assets/vendor/echarts/echarts.min.js'%}"></script>
    <script src="{% static 'assets/vendor/quill/quill.js'%}"></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js'%}"></script>
    <script src="{% static 'assets/vendor/tinymce/tinymce.min.js'%}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js'%}"></script>
</body>

</html>